<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://www.loucoll.ac.uk/sites/default/files/apprenticeship-vacancy-image/app-image-12.jpg); "></a>
        <ul class="list-unstyled components mb-5">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/About/Index/">Hakkımda</a></li>
            <li><a href="/Education/EducationList/">Eğitim Hayatım</a></li>
            <li><a href="/Profile/Index/">İletişim</a></li>
            <li><a href="/Message/Inbox/">Gelen Mesajlar</a></li>
            <li><a href="#">Hizmetlerim</a></li>@*AAAAAAAAAAAAA*@
            <li><a href="/Portfolio/PortfolioList/">Portfolyom</a></li>
            <li><a href="/Statistics/Index/">İstatistikler</a></li>
            <li><a href="/Skill/SkillList/">Yeteneklerim</a></li>
            <li><a href="/Experience/ExperienceList/">Deneyimlerim</a></li>
            <li><a href="#">Sosyal Medya</a></li>@*AAAAAA*@
            <li><a href="/Blog/BlogList/">Blog</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>
        </ul>
        <div class="footer">
            <p>
               ORUÇ TURAN - SOFTWARE DEVELOPER
            </p>
        </div>
    </div>
</nav>

