<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://img.freepik.com/free-photo/bearded-man-with-striped-shirt_273609-7180.jpg?t=st=1725992939~exp=1725996539~hmac=03c977e1f01b225308159b45144eea145395270d93e908740386f025d16564c0&w=1480); "></a>
        <ul class="list-unstyled components mb-5">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Hakkımda</a></li>
            <li><a href="/Education/EducationList/">Eğitim Hayatım</a></li>
            <li><a href="#">Öne Çıkan Alan</a></li>
            <li><a href="#">İletişim</a></li>
            <li><a href="/Message/Inbox/">Gelen Mesajlar</a></li>
            <li><a href="#">Hizmetlerim</a></li>
            <li><a href="/Portfolio/PortfolioList/">Portfolyom</a></li>
            <li><a href="/Statistics/Index/">İstatistikler</a></li>
            <li><a href="/Skill/SkillList/">Yeteneklerim</a></li>
            <li><a href="/Experience/ExperienceList/">Deneyimlerim</a></li>
            <li><a href="#">Sosyal Medya</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>
        </ul>
        <div class="footer">
            <p>
               ORUÇ TURAN - SOFTWARE DEVELOPER
            </p>
        </div>
    </div>
</nav>

