
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Yeni Eğitim Bilgisi Girişi</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" class="form-control" />
    <br />
    <label>Alt Başlık</label>
    <input type="text" class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea rows="4" class="form-control"></textarea>
    <br />
    <button class="btn btn-outline-info">Eğitim Bilgisini Kaydet</button>
</form>














@*<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Ad</td>
        <td>Kategori</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    <tr>
        <td>A24654</td>
        <td>Domates</td>
        <td>Sebze</td>
        <td><button class="btn btn-danger">Sil</button></td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>*@