
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Eğitim Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Alt Başlık</label>
    <input type="text" name="SubTitle" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <label>Tarih</label>
    <input type="text" name="Date" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Eğitimi Ekle</button>
</form>

