
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Sosyal Medya Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>URL</label>
    <input type="text" name="URL" class="form-control" />
    <br />
    <label>İkon</label>
    <input type="text" name="Icon" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Sosyal Medyayı Ekle</button>
</form>

