@model List<MyPortfolioProject.Models.Service>
@{
    ViewBag.Title = "ServiceList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Servislerim Listesi ve İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Alt Başlık 1</th>
        <th>Alt Başlık 2</th>
        <th>Alt Başlık 3</th>
        @*<th>Servis İkon</th>*@
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceID</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>#@item.SubTitleA</td>
            <td>#@item.SubTitleB</td>
            <td>#@item.SubTitleC</td>
            @*<td>@item.Icon</td>*@
            <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn btn-outline-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/CreateService/" class="btn btn btn-outline-info">Servis Ekle</a>
