<div class="container-fluid">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3">
                <div class="education-header bg-dark h-100 pt-6 pe-6 pb-6">
                    <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                        <p class="text-white sub-title">Eğitim</p>
                        <h1 class="display-6 text-white mb-0">Eğitim Yeterliliğim</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="education-content h-100 pt-6 ps-6 pb-6">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="education-item rounded p-4 h-100 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center mb-3">
                                    <p class="fs-5 mb-0 me-4">National University</p>
                                    <div>
                                        <span class="fa fa-calendar me-1"></span> 2017 - 2019
                                    </div>
                                </div>
                                <h4 class="mb-3">Diploma in Computer</h4>
                                <p class="mb-0">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, a quasi velit sint atque non saepe quaerat ducimus, nobis error cupiditate, nisi repudiandae dignissimos magnam? Dicta ab possimus tempora nobis.
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="education-item rounded p-4 h-100 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center mb-3">
                                    <p class="fs-5 mb-0 me-4">Webster College</p>
                                    <div>
                                        <span class="fa fa-calendar me-1"></span> 2017 - 2019
                                    </div>
                                </div>
                                <h4 class="mb-3">UI/UX Design</h4>
                                <p class="mb-0">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, a quasi velit sint atque non saepe quaerat ducimus, nobis error cupiditate, nisi repudiandae dignissimos magnam? Dicta ab possimus tempora nobis.
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="education-item rounded p-4 h-100 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="d-flex align-items-center mb-3">
                                    <p class="fs-5 mb-0 me-4">Oxford University</p>
                                    <div>
                                        <span class="fa fa-calendar me-1"></span> 2017 - 2019
                                    </div>
                                </div>
                                <h4 class="mb-3">Java Development</h4>
                                <p class="mb-0">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, a quasi velit sint atque non saepe quaerat ducimus, nobis error cupiditate, nisi repudiandae dignissimos magnam? Dicta ab possimus tempora nobis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
