<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="/Default/Index/" class="nav-item nav-link active"><span class="fa fa-home"></span> Anasayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fab fa-servicestack"></span> Hizmetler</a>
            <a href="#pigraBlog" class="nav-item nav-link"><span class="fa fa-blog"></span> Blog</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="fas fa-address-book"></span> İletişim</a>
        </div>
    </nav>
</div>


@*
    1 BÜTÜN UI DİNAMİK
    *2 TIKLAYINCA O ALANA KAYDIRAN LİNK (NAVBAR ALANINI COGALT)
    *3 PROJEYE 1  TABLO DAHA EKLE - STAJLARIM TABLOSU -- İÇERİSİNDE TIPKI ANASAYFADAKI GIBI BIR ALAN OLSUN UI VE SQL E DAHIL ET
    *4 İLETİŞİM BÖLÜMÜNDE CV Mİ İNDİR E TIKLAYINCA (PROJEDEN KAYNAĞA PDF KOYUN TARAYICINIZA INSIN)
    *5 DÖRT İLE AYNI İŞLEM ADMİN PANELİ İÇİNDE CV Mİ İNDİR DE DE OLACAK
    *6 ADMİN PANELINDE BUTUN MENULER CALISACAK SITYYE GIT VS - SOL MENUDEKI LINKLERIN HEPSI CALISACAK
    7 ADMİN-YETENEKLERIM KISMINA 16 TANE YETENEK EKLE VE YETENEK LISTELEME SAYFASINDA PAGEING KULLANACAK HER SAYFADA 5 TANE YETENEK GÖSTERİLECEK
    *8 ADMİN-MESAJLAR TABLOSUNDA 10 TANE MESAJ OLACAK- MESASJ KONULARI KONU BASLIGINA GÖRE RENKLENECEK ÖRN REFERANS SARI SIKAYET TURUNCU- İF ELSE -- SW CASE
    9 ADMİN- SOSYAL MEDYA TABLOSU ADMIN PANELINDE YER ALACAK- UI DA SOSYAL MEDYA ALANLARI DINAMIK OLARAK GELECEK
    *10 ADMİN - SOSYAL MEDYA TARAFINDA STATUS OLACAK- TRUE OLANLAR UI DA GÖRÜNECEK- SOSYAL MEDYA AKTİF PASİF OLACAK
    *11 VALİDATİON KULLAN - SADECE YETENEK EKLEMEDE KULLAN .. CREATE SKILL SAYFASI ICERISINDE OGRENCI ISTEGINE BAGLI VALIDASYONLAR KULLAN
    *12 ADMİN PANELINDEKI FOTOGRAF DINAMIK OLSUN
    *13 ADMİN CHART KULLANMAMIMIZI ISTIYOR- YETENEKLERIMIZIN DEGERLERIYLE ILGILI OLSUN. FARKLI SAYFADA (CHARTLAR)
    14 PROJEDEKI BUTUN SQL TABLOLARI EKSIKSIZ BIR SEKILDE CALISSIN
    15 PROJEYİ GİTHUBTA GÜZELCE AÇIKLA (HER ZAMAN YAPTIĞIM GİBİ )
*@