<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5113.571726752595!2d27.964850703592084!3d40.352378768266846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b5d3133167c32d%3A0xc400a7468f3b0f06!2zxLBETyBCYW5kxLFybWEgRmVyaWJvdCDEsHNrZWxlc2k!5e0!3m2!1str!2str!4v1728063297789!5m2!1str!2str" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>