<div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
    <p class="text-white sub-title">Bana Ulaşın</p>
    <h1 class="display-6 text-white mb-0">Hadi Yeni Bir Projeye Başlayalım!!!</h1>
</div>
